/* -------------------- set border-box -------------------- */
html {
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

/* -------------------- general styling -------------------- */
html, body {
	margin: 0;
	background-color: black;
}

body {
	position: relative;
	overflow: hidden;
}

h1 {
	margin: 0;
	padding: .25em 1em;
}

h2 {
	margin-block-start: 0.5em;
}

/* -------------------- dynamic header -------------------- */
.hover-space {
	position: absolute;
	width: 100%;
	margin-block-start: 1.33em;
}

h1 {
	color: rgba(255, 255, 255, 0);
	text-shadow: none;
	background-color: rgba(150, 150, 150, 0.8);
	transform: translate(-100%, 0);
	transition: transform 0.2s ease-in-out,
		color 0.2s ease-in,
		text-shadow 0.2s ease-in;
}

.hover-space:hover > h1 {
	color: rgba(255, 255, 255, 1);
	text-shadow: 0px 0px 4px black;
	transform: none;
	transition: transform 0.2s ease-out,
		color 0.2s ease-in 0.2s,
		text-shadow 0.2s ease-in 0.2s;
}

/* -------------------- content styling -------------------- */
.info-box {
	position: absolute;
	bottom: 2em;
	right: 0;
	max-width: 75%;
	display: grid;
	grid-template-columns: 0fr 1fr 3fr;

	/* only show toggle-button when deactivated */
	transform: translate(calc(100% - 2em), 0);
	transition: transform 0.2s ease-out;
}

.info-box.active {
	transform: none;
}

.info-box > section {
	padding: 1em;
	border-inline-start: solid black 2px;
	background-color: rgba(150, 150, 150, 0.8);
}

.info-box > section:first-child {
	border-inline-start: none;
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
}

#toggle {
	writing-mode: vertical-lr;
	padding-block-start: .5em;
	padding-block-end: .5em;
	cursor: pointer;
}

#toggle > p {
	margin: 0;
	line-height: 1em;
	text-align: center;
	transform: rotate(180deg);
}

#toggle:focus, #toggle:hover {
	background-color: rgba(200, 200, 200, 0.8);
}

#toggle:active {
	background-color: rgba(240, 240, 240, 0.8);
}

/* implement help button movement */
.info-box > section {
	position: relative;
	left: 1.5em;
	transition: left 0.1s ease-out;
}

.info-box:hover > section,
.info-box.active > section {
	left: 0;
}
