/* -------------------- set border-box -------------------- */
html {
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

/* -------------------- general styling -------------------- */
html, body {
	margin: 0;
	background-color: darkgrey;
}

h1 {
	margin: 0;
	padding: .25em 1em;
}

h2 {
	margin-block-start: 0.5em;
}

#canvas {
	display: block;
	margin: 0 auto;
}

/* -------------------- dynamic header -------------------- */
.hover-space {
	position: absolute;
	width: 100%;
	margin-block-start: 1.33em;
}

h1 {
	color: rgba(255, 255, 255, 0);
	text-shadow: none;
	background-color: rgba(200, 200, 200, 0.65);
	transform: translate(-100%, 0);
	transition: transform 0.2s ease-in-out,
		color 0.2s ease-in,
		text-shadow 0.2s ease-in;
}

.hover-space:hover > h1 {
	color: rgba(255, 255, 255, 1);
	text-shadow: 0px 0px 4px black;
	transform: none;
	transition: transform 0.2s ease-out,
		color 0.2s ease-in 0.2s,
		text-shadow 0.2s ease-in 0.2s;
}

/* -------------------- content styling -------------------- */
.info-box {
	position: absolute;
	bottom: 2em;
	right: 0;
	max-width: 75%;
	display: grid;
	grid-template-columns: 0fr 1fr 3fr;

	background-color: rgba(200, 200, 200, 0.65);
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
}

.info-box > section {
	padding: 1em;
	border-inline-start: solid black 2px;
}

.info-box > section:first-child {
	border-inline-start: none;
}

#toggle-box-button {
	padding-block-start: .5em;
	padding-block-end: .5em;

	writing-mode: vertical-lr;
	transform: rotate(180deg);
	text-align: center;
}
